.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#check_menu {
    background: red;
    height: 100px;
    width: 100px;
    position: absolute;
    opacity: 0;
}

.label {
    position: relative;
    height: 22px;
    width: 30px;
    display: block;
    cursor: pointer;
    /* border: 1px solid black; */
}

.label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
}

.label span:nth-child(1){
    top: 0;
    /* background: red; */
}

.label span:nth-child(2){
    top: 8px;
    /* background: blue; */
}

.label span:nth-child(3){
    top: 16px;
    /* background: green; */
}

#check_menu:checked + .label span:nth-child(1){
 transform: rotate(-45deg);
 top: 8px;
}

#check_menu:checked + .label span:nth-child(2){
    opacity: 0;
}

#check_menu:checked + .label span:nth-child(3){
    transform: rotate(45deg);
    top: 8px;
}